.user-pic{
	width: 40px;
	height: 40px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
	border-radius: 50%;
	overflow: hidden;
	float: right;
}

.user-pic img {
	width: 100%;
	height: 100%;
}

.room-main {
	width: 800px;
	height: 640px;
	margin: 20px auto;
	border: 1px solid #eaeaea;
	color: #333;
}

.content-box {
	height: 100%;
	width: 600px;
	box-sizing: border-box;
	float: left;
	background-color: white;
}

.chat-content {
	width: 100%;
	height: 500px;
	box-sizing: border-box;
	border: 1px solid #eaeaea;
}

.broadcast {
	height: 40px;
	line-height: 40px;
	position: relative;
}

.broadcast>div {
	padding-left: 20px;
}

.system-message {
	height: 34px;
	width: 95%;
	line-height: 32px;
	box-sizing: border-box;
	padding: 0 10px;
	margin: 1px auto;
	left: 0;
	right: 0;
	border: 1px solid #2980b9;
	background-color: #5fbbff;
	border-radius: 6px;
	position: absolute;
	top: 1px;
	color: white;
}

.message-close {
	float: right;
	font-size: 18px;
}

.message-close:hover {
	cursor: pointer;
}

.chat-list {
	width: 100%;
	height: 500px;
	padding: 10px;
	overflow: auto;
	box-sizing: border-box;
}

.other {
	width: 100%;
	text-align: left;
	position: relative;
	margin-top: 15px;
}

.self {
	width: 100%;
	text-align: right;
	position: relative;
	margin-top: 15px;
}

.in-out {
	width: 100%;
	margin: 15px 0;
}

.in-out p {
	width: 150px;
	padding: 0px 10px;
	height: 20px;
	text-align: center;
	margin: 0 auto;
	border-radius: 8px;
	background-color: #ecf0f1;
	font-size: 12px;
	line-height: 20px;
	color: #bdc3c7;
}

.head-pic {
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

.user-name {
	position: absolute;
	margin-left: 10px;
}

.chat-text {
	background-color: #5fbbff;
	min-height: 20px;
	max-width: 300px;
	padding: 8px;
	border-radius: 8px;
	line-height: 20px;
	word-wrap: break-word;
  text-align: left;
}

.qipao {
	overflow: hidden;
	margin-top: -10px;
}

.other .qipao {
	margin-left: 40px;
}

.other .corner {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-top: 8px solid #5fbbff;
	border-right: 8px solid #5fbbff;
	border-bottom: 8px solid transparent;
	border-left: 8px solid transparent;
	float: left;
	margin-top: 8px;
}

.other .chat-text {
	float: left;
}

.self .qipao {
	margin-right: 40px;
}

.self .corner {
	box-sizing: border-box;
	width: 16px;
	height: 16px;
	border-top: 8px solid #5fbbff;
	border-left: 8px solid #5fbbff;
	border-bottom: 8px solid transparent;
	border-right: 8px solid transparent;
	float: right;
	margin-top: 8px;
} 

.self .chat-text {
	float: right; 
}

.input-box {
	height: 100px;
	width: 100%;
	position: relative;
}

.chat-input {
	box-sizing: border-box;
	height: 100%;
	width: 100%;
	border: none;
  outline: none;
  padding: 0;
  resize: none;
  font-size: 14px;
  padding: 3px;
  font-family: 'Microsoft Yahei';
}

.chat-submit {
	position: absolute;
	right: 20px;
	bottom: 10px;
	border-radius: 5px;
	background-color: #5fbbff;
	height: 25px;
	width: 60px;
	text-align: center;
	line-height: 25px;
	color: #eaeaea;
	font-size: 14px;
	cursor: pointer;
} 

.chat-submit:hover {
	background-color: #84c8fa;
} 

.qipao-user{
	height:100%;
	width: 200px;
	padding: 5px;
	border-left: 1px solid #eaeaea;
	box-sizing: border-box;
	float: right;
	background-color: white;
}

.select-qipao {
	border-bottom: 1px solid #eaeaea;
}

.select-text {
	margin-top: 5px;
}

.select-qipao .qipao {
	margin-top: 10px;
	margin-left: 10px;
}

.select-qipao .qipao:last-child {
	margin-bottom: 10px; 
}

.user-number {
	margin: 10px 0 10px 0;
}

.user-list {
	height: 420px;
	overflow: auto;
} 

.user-list li {
	height: 20px;
	margin: 4px;
}

.list-head {
	width: 20px;
	height: 20px;
	border-radius: 50%;
}

.off-line {
	-webkit-filter: grayscale(100%);  
	-moz-filter: grayscale(100%);  
	-ms-filter: grayscale(100%);  
	-o-filter: grayscale(100%);   
	filter: grayscale(100%);  
}

.list-name {
	padding-left: 10px;
	vertical-align: super;
}